name: Dashchan-Dvach build

on:
  push:
    branches: [ "master" ]
  pull_request_target:
    types: [opened, edited, synchronize]
    branches: [ "master" ]
    
env:
  KEYSTORE_FILENAME: ${{ secrets.KEYSTORE_FILENAME }}
  KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
  RELEASE_SIGN_KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
  RELEASE_SIGN_KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build modules
    strategy:
      fail-fast: false
      matrix:
        package:
          - module: dvach
            name: Dvach
          - module: fourchan
            name: Fourchan
          - module: endchan
            name: Endchan
          - module: cirno
            name: Cirno
          - module: sojakparty
            name: Sojakparty
          - module: refugedobrochan
            name: RefugeDobrochan
          - module: archivedmoe
            name: ArchivedMoe
          - module: archiverbt
            name: ArchiveRbt
          - module: desustorage
            name: Desustorage
          - module: dollchan
            name: Dollchan
          - module: warosu
            name: Warosu

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'
    - name: set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Checkout kyestore - for ${{ matrix.package.name }}
      uses: actions/checkout@v3
      with:
        repository: ${{ secrets.KEYSTORE_DASHCHAN_REPO }}
        token: ${{ secrets.ACCESS_TOKEN }}
        path: extensions/${{ matrix.package.module }}/keystore

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build ${{ matrix.package.name }} with Gradle
      run: ./gradlew :extensions:${{ matrix.package.module }}:assembleRelease

    - name: Upload APK - ${{ matrix.package.name }}
      uses: actions/upload-artifact@v2
      with:
        name: Dashchan${{ matrix.package.name }}.apk
        path: extensions/${{ matrix.package.module }}/build/outputs/apk/release/Dashchan${{ matrix.package.name }}-release.apk

  deploy:
    runs-on: ubuntu-latest
    name: Deploy packages
    needs: build
    steps:
    - uses: actions/download-artifact@v3
      name: Download artifacts
      with:
        path: artifacts/
    - run: ls artifacts
    - name: Install aapt
      run: sudo apt-get -y install aapt
    - name: Install python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - run: pip install requests
    - name: Checkout Dashchan-Meta
      uses: actions/checkout@v3
      with: 
        repository: ${{ secrets.META_DASHCHAN_REPO }}
        path: meta/
    - name: Move atrifacts
      run: |
        ls artifacts | xargs -I artifact cp -f artifacts/artifact meta/update/package/artifact
    - name: Run generate.py
      run: python meta/generate.py
    - name: Git Diff
      working-directory: meta
      run: git diff
